@import "./assets/fonts/font.css";

#intro__blob {
  position: absolute;
  width: 100%;
  max-width: 800px;
  z-index: -1000;
}

#blobFill {
  fill: url(#blobGradient);
}

.blobGrad1 {
  stop-color: #29d4af;
}
.blobGrad2 {
  stop-color: #eac9bd;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
  align-self: start;
  align-items: center;
}

.item3 {
  grid-area: c;
  align-self: center;
}
